/* 공통 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h2,
.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.error,
.success-message,
.loading,
.error-message {
  text-align: center;
  font-size: 16px;
  color: #f44336;
  margin-top: 50px;
}

.success-message {
  color: #4caf50;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;

}

.detail-container {
  max-width: 600px;
  min-width: 300px;
  min-height: 520px;
  margin: 0 auto;
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /*text-align: right;*/
}@media (max-width: 769px) {
  .detail-container {
    padding: 10px;
  }
}

.employee-regi-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  margin-bottom: 15px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.table-data{
  vertical-align: middle;
}
.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.box {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: middle;
}

.card {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  overflow: hidden;
}


.card-header {
  background-color: #017bff !important;
  color: #fff !important;
  padding: 10px ;
}

input,
select {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;

}
.card-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #ddd;
}
input:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.submit-button {
  padding: 12px;
  background-color: #b4b4b4;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 10px 10px;
  text-align: center;
  float: right;
  flex-shrink: 0;
}
.save-button {
  padding: 12px;
  background-color: #b4b4b4;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 10px 10px;
  text-align: center;
  float: right;
  flex-shrink: 0;
}

.submit-button:disabled,
.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled),
.save-button:hover:not(:disabled) {
  background-color: #ccc;
}

.action-button {
  padding: 0.4rem 0.8rem;
  background-color: #007bff;
  margin: 10px 0;
  width: 11rem !important;
  color: white;
  border: none;
  border-radius: 4px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
}
.btn-secondary {
  background-color: #6c757d;
    color: white;
  margin-left: 10px;
    margin-right: 10px;
}
 .action-button:hover,
 .submit-button:hover {
    background-color: #0056b3;
    color: white;
  }

/* 버튼 컨테이너 */
.button-container {
  text-align: right;
  margin-top: 20px;
}

/* 로딩 및 오류 메시지 */

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cell-right {
  display: table-cell;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
  width: 70%;
}

.cell-left {
  display: table-cell;
  padding: 0.8rem 1rem;
  font-weight: bold;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: left;
  width: 30%;
}

.total-amount {
  width: 100%;
  justify-content: center;
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 정렬 (중앙 정렬) */

}

.year-container{
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 세로 정렬 (중앙 정렬) */
  gap: 10px; /* 요소 간 간격 */
  justify-content: center;
  width: 100%;

}
.weekend {
  background: #ff8e8e !important;
  color: white;
  padding: 20px;
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
}

.holiday {
  background: #5dc6ff !important;
  color: white;
  padding: 20px;
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
}

.change {
  background: #41ff00 !important;
  color: white;
  padding: 20px;
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
}
.change2 {
  background: #ff0000 !important;
  color: white;
  padding: 20px;
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
}

.today {
  background: #ffffaa !important;
  color: white;
  padding: 20px;
  text-align: center; /* 텍스트를 수평 중앙 정렬 */
  font-weight: bold; /* 글자 진하게 */
}

.table tr{
  text-align: center;
}

.applicant-list {
  display: flex;
  flex-wrap: wrap;
}
.applicant-list .list-group-item {
  flex: 0 0 25%; /* 4명씩 한 줄에 배치 */
  margin-right: 0px; /* 아이템 사이의 간격 */
  margin-bottom: 5px; /* 줄바꿈 시 아래쪽 간격 */
}

.table-responsive {
  overflow-x: auto; /* 가로 스크롤 활성화 */
}
th, td {
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  width: 150px; /* 각 셀에 고정된 너비 설정 */
  text-overflow: ellipsis; /* 내용이 넘칠 경우 '...'으로 표시 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
}

.chart-cell {
  padding: 0;
  position: relative;
}

.x-axis-ticks {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.x-axis-tick {
  font-size: 12px;
  color: #555;
}
.calendar-wrapper {
  width: 100%;
  overflow-x: auto;  /* 좌우 스크롤 활성화 */
  overflow-y: hidden; /* 위아래 스크롤 방지 */
  white-space: nowrap; /* 요소 줄바꿈 방지 */
}




